:root {
  --blue-button: #23a6f0;
  --dark-background: #252b42;
  --light-blue-background: #8ec2f2;
  --white-background: #f4f4f4;
  --light-text: #737373;
  --orange-circle: #e77c40;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* FIRST PART */

.home-logo-menu-login-member {
  max-width: 1440px;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  max-width: 100%;
  background: url(../img/bg-top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-degrade {
  max-width: 100%;
  position: relative;
  inset: 0 0 0 0;
  background: linear-gradient(
    89.85deg,
    #000000 0.13%,
    #000000 0.14%,
    rgba(0, 0, 0, 0) 99.56%
  );
}

header a {
  color: var(--white-background);
}

header .header-logo {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}

header .header-menu a,
header .header-login-member a {
  font-weight: 600;
}

header .header-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .header-menu li {
  width: 80px;
  text-align: center;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
}
header .header-menu li:hover {
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 3px;
  background-color: var(--blue-button);
  margin: 5px;
  transition: all 0.5s ease;
}

header .header-login-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 50px;
}

header .header-login-member a:last-child {
  height: 50px;
  width: 220px;
  background-color: var(--blue-button);
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s ease-in-out;
}

header .header-login-member a:last-child:hover {
  color: var(--blue-button);
  border: 1px solid var(--blue-button);
  background-color: var(--white-background);
}

header .banner {
  max-width: 1100px;
  min-height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /*padding: 50px;*/
}

.banner-buttons,
.banner-text {
  color: var(--white-background);
}

.banner-text {
  max-width: 500px;
  margin-left: 25px;
}

.banner-text h1 {
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.banner-text p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin: 35px 0;
}

.banner-buttons a {
  display: inline-block;
  padding: 15px 36px;
  color: var(--white-background);
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--blue-button);
  transition: 0.3s ease-in-out;
}

.banner-buttons a:hover {
  color: var(--blue-button);
  border: 1px solid var(--blue-button);
  background-color: var(--white-background);
}

.banner-buttons .button-get {
  margin-right: 10px;
  border: 1px solid var(--blue-button);
}
.banner-buttons .button-learn {
  border: 1px solid var(--white-background);
  background: transparent;
}

/* END FIRST PART */

/* START SECOND PART */
.benefits,
.industry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits,
.product {
  background-color: var(--dark-background);
}

.benefits-sections,
.industry-sections {
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  margin: 35px auto;
}

.benefits-img-title-desc {
  width: 310px;
  height: 250px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 35px 75px;
}

.benefits-img-title-desc h3,
.benefits-img-title-desc p {
  color: var(--white-background);
}

.benefits-img-title-desc h3 {
  font-size: 1em;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.benefits-img-title-desc p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

/* END SECOND PART */

/* START THIRD PART */
.industry {
  background-color: var(--light-blue-background);
}

.industry-sections .text {
  max-width: 500px;
  text-align: center;
  margin: 30px auto;
  color: var(--white-background);
}

.industry-sections .text h2 {
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.feedback-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.feedback-box {
  max-width: 450px;
  min-height: 310px;
  margin: 30px;
  padding: 45px;
  position: relative;
  background-color: var(--white-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-box p::selection,
.feedback-box span::selection,
.feedback-box h3::selection {
  color: var(--white-background);
  background-color: var(--dark-background);
}

.feedback-box .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--orange-circle);
  position: absolute;
  top: 25px;
  left: -35px;
}

/* END THIRD PART */

/* START FOURTH PART */
.product,
.pricing {
  width: 100%;
}

.product-sections {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.product-sections .product-text,
.pricing-container .pricing-text {
  max-width: 500px;
  margin: 75px auto;
  color: var(--white-background);
  text-align: center;
}

.product-sections .product-text h2,
.pricing-text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.product-sections .product-text p,
.pricing-text p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.product-sections .product-section-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 75px auto;
}

.view-project {
  margin: 10px;
  width: 330px;
  height: 452px;
  display: flex;
  flex-direction: column-reverse;
  color: var(--white-background);
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

.project1 {
  background-image: url(img/post1.jpg);
}

.project2 {
  background-image: url(img/post2.jpg);
}

.project3 {
  background-image: url(img/post3.jpg);
}

.project4 {
  background-image: url(img/post4.jpg);
}

.degrade {
  width: 330px;
  height: 452px;
  position: relative;
  inset: 0 0 0 0;
  border-radius: 5px;
  background: linear-gradient(
    to top,
    #000000 2%,
    #000000 5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.view-project .degrade .text {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
}

.view-project h2 {
  order: 3;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.view-project p {
  order: 2;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 5px;
}
.view-project a {
  order: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  display: block;
  width: 180px;
  height: 42px;
  padding: 10px 36px;
  border-radius: 50px;
  color: var(--white-background);
  background: var(--blue-button);
  transition: 0.2s ease-in-out;
  text-align: center;
}

/* HOVERS */
.view-project:hover {
  transform: scale(1.03);
}

.view-project a:hover {
  color: var(--blue-button);
  border: 1px solid var(--blue-button);
  background-color: var(--white-background);
}

/* END FOURTH PART */

/* START 5TH PART */

.pricing {
  background-color: var(--dark-background);
}

.pricing-container {
  max-width: 1100px;
  display: flex;

  flex-direction: column;
  margin: 0 auto;
}

.container-packages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-packages .white-container {
  background-color: var(--white-background);
  max-width: 330px;
  /*height: 700px;*/
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding: 35px 15px;
  position: relative;
  margin: 35px auto;
}

.white-container h2 {
  color: var(--dark-background);
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 35px;
}

.white-container p {
  color: #737373;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

.white-container h3 {
  color: var(--blue-button);
  font-size: 40px;
  line-height: 57px;
}

.white-container span {
  color: var(--light-blue-background);
  font-size: 16px;
  line-height: 24px;
}

.white-container a {
  display: inline-block;
  width: 250px;
  height: 50px;
  background-color: var(--blue-button);
  border-radius: 5px;
  margin: 35px 0;
  line-height: 50px;
  color: var(--white-background);
  transition: 0.3s ease-in-out;
}

.white-container a:hover {
  border: 2px solid var(--blue-button);
  color: var(--blue-button);
  background-color: var(--white-background);
}

.silver .orange-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--orange-circle);
  text-align: center;
  line-height: 90px;
  color: var(--white-background);
  position: absolute;
  top: -50px;
  right: 25px;
}

.package-benefits div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.package-benefits div p {
  margin: 0;
}

/* END 5TH PART */

/* START 6TH PART */

.background-appointment {
  width: 100%;
  background-image: url(img/bg-down.svg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-background);
  position: relative;
}

.appointment-container {
  max-width: 1050px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-appointment {
  padding: 5px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.appointment-container h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 30px;
}

.appointment-container h1 {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  padding-bottom: 30px;
}

.appointment-container form input,
.appointment-container form select {
  width: 285px;
  height: 50px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px 15px;
}

.appointment-container form textarea {
  width: 580px;
  height: 140px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 15px;
}

.appointment-container form button {
  margin: 40px 10px;
  width: 225px;
  height: 50px;
  background-color: var(--blue-button);
  color: var(--white-background);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.appointment-container form button:hover {
  background-color: var(--white-background);
  color: var(--blue-button);
  border: 1px solid var(--blue-button);
  font-weight: 700;
}

/* END 6TH PART */

/* FOOTER */

.footer-container {
  margin: 0 auto;
}

.footer-part-1 {
  min-height: 145px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-part-1 h2 {
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-background);
}

.footer-part-1 p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-text);
}

.footer-part-1 button {
  width: 160px;
  height: 50px;
  margin: 10px 0;
  background-color: var(--blue-button);
  color: var(--white-background);
  font-weight: 700;
  border: 1px solid var(--blue-button);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.footer-part-1 button:hover {
  background-color: var(--white-background);
  color: var(--blue-button);

  font-weight: 700;
}

.footer-part-2 {
  background-color: var(--dark-background);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px 0;
}

.footer-part-2 .footer-links {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

.footer-part-2 .footer-links h3,
.footer-part-2 .footer-links a {
  color: var(--white-background);
}

.f-contact {
  display: flex;
  align-items: center;
  color: var(--white-background);
}

.footer-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.footer-part-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 14px;
}

.credits-figmaland,
.credits-marianna {
  display: flex;
  align-items: center;
  text-align: center;
}

.social-media {
  margin: 15px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: var(--dark-background);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transform: translateX(100%);
    transition: 0.5s ease;
    display: none;
    z-index: 10;
  }

  .header-menu li {
    opacity: 0;
  }

  .header-menu .header-logo {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .burger {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 25px;
    right: 60px;
    display: block;
    z-index: 22;
  }

  .toggle .line1 {
    transform: rotate(-405deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
  }

  .banner {
    padding: 25px;
    margin: 0;
  }

  .banner-buttons {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .button-learn,
  .button-get {
    width: 100%;
    text-align: center;
  }

  .industry-sections .text,
  .banner-text,
  .pricing-text,
  .product-text {
    padding: 15px;
  }

  .banner-text {
    margin: 0;
  }
  .feedback-box {
    margin: 20px 45px;
    padding: 45px;
  }

  .view-project {
    width: 300px;
  }

  .degrade {
    width: 300px;
  }

  .container-packages .white-container {
    width: 300px;
    padding: 35px 5px;
  }

  .form-appointment {
    flex-direction: column;
    width: 100vw;
  }

  .appointment-container h6,
  .appointment-container h1 {
    text-align: center;
  }

  .appointment-container form textarea {
    width: 300px;
    height: 200px;
  }

  .appointment-container form input,
  .appointment-container form select,
  .appointment-container form button {
    width: 300px;
    margin: 10px auto;
  }

  .footer-links {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 325px) {
  .appointment-container form textarea,
  .appointment-container form input,
  .appointment-container form select,
  .appointment-container form button {
    width: 250px;
    margin: 10px auto;
  }

  .banner-text {
    padding: 10px;
  }
  .banner {
    padding: 5px;
  }
  .container-packages .white-container {
    width: 250px;
  }

  .feedback-box .circle {
    display: none;
  }

  .feedback-box {
    margin: 10px;
    padding: 25px;
  }

  .view-project {
    width: 300px;
  }

  .degrade {
    width: 300px;
  }

  .container-packages .white-container {
    width: 300px;
    padding: 35px 5px;
  }
}

.nav-active {
  transform: translateX(0%); /*ao receber o click, o menu deve abrir*/
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
